{% extends 'base.html' %}

{% load static %}

{%  block content %}
    <table class="table table-borderless">
      <tbody>
        {% for data in data %}
          {% if data.username != user.get_username %}
            <tr>
              <td>{{  data.username }} {{data.first_name}} {{data.last_name}}
                  <br><em><font size="2"><a href="{% url 'other_profile' data.id %}">@{{ data.username }}</a></font></em>
                <th><button class="btn btn-warning" type="submit">MESSAGE</button></th>
                {% if data.is_user_followed %}
                    <th><button class="btn btn-warning" id="sub_{{ data.id }}" type="submit" value="1"
                                onclick="subAction({{ data.id }}, changeSubButton)">
                        Unfollow
                    </button></th>
                {% else %}
                    <th><button class="btn btn-warning" id="sub_{{ data.id }}" type="submit" value="0"
                                onclick="subAction({{ data.id }}, changeSubButton)">
                        Follow
                    </button></th>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
{%  endblock %}

{% block script %}
    <script src="{% static 'search/js/search.js' %}" type="text/javascript"></script>
{% endblock script %}
